### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/libraries/io_github_btj_termios_0_7.xml
.idea/*
.idea/misc.xml
.idea/modules.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### vim ###
*.swp

### Mac OS ###
.DS_Store

*.pdf
*.ps
*.png
*.class
*.jar
*.so
testresources/test.txt
testresources/test2.txt
.idea/misc.xml
.idea/misc.xml
Swop.iml
META-INF
.idea/misc.xml
testresources/test.txt
testresources/test2.txt
testresources/test3.txt
